
.slogan{
    font-weight: 600;
}
.box{
  font-size: 16px;
}
.button {
    width: 266px;
     height: 50px;
     border-radius: 5px;
     background: #58595b;
     font-size: 16px;
     text-transform: uppercase;
     color: white;
     font-weight: bold;
     padding: 15px 30px;
}
.button:hover{
    color: white;
    background: #f83c3d;
}
h2{
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 16px;
}
h3{
    font-size: 18px;
    line-height: 1.56;
    color: #58595b;
}
footer{
    background-color: #ffffff;
    padding: 20px 50px;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.f-600{
    ont-size: 12px;
    font-weight: 600;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 4px;
}
.bold{
    font-weight: bold;
}
.mb-40{
    margin-bottom: 40px;
}
.pl-0{
    padding-left: 0;
}
.pr-0{
    padding-right: 0;
}
.form-sec-box-checkbox .form-sec-checkbox {
    float: left;
    padding: 0;
    min-height: auto;
    margin-left: 12px;
    background-color: #ffffff00;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 600;
}
ul li label {
    padding: 0 0 0px 31px;
    -webkit-transition: all 0.25s linear;
}

.form-sec-box-checkbox > ul > li > label {
    font-size: 16px;
}
ul li {
    height: 50px;
}
ul li .check {
    display: block;
    position: absolute;
    border: 3px solid #AAAAAA;
    background-color: #ffffff !important;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    top: 11px;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 14px;
    width: 14px;
    top: 1px;
    left: 1px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.025s linear;
}

input{
    font-size: 16px!important;
    margin-bottom: 16px;
    background: #f4f4f4!important;
    color: #929292!important;
}


.btn {
    width: 100%;
}