$black: #000;
$white: #ffffff;
$white-two: #ececec;
$white-three: #fbfbfb;
$white-four: #e8e6e6;
$grey: #ededed;
$grey-soft: #dfdfdf;
$tomato: #f15a23;
$strawberry: #f83c3d;
$slate-grey: #58595b;
$warm-grey: #929292;
$charcoal-grey: #4a4a4a;
$slate-grey-two: #6a7073;
$red: #ff0000;
$light-red: #ffb0b0;

$xlg: 1440px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 320px;

$font: 'Source Sans Pro', Arial, Helvetica, sans-serif;

$transition: .35s ease-in-out;